### 6-1補充
DatFrame loc,iloc
#DataFrame比numpy ndarry(element-wise)提供資料統治整的功能
#DataFrame通常為2為資料
#橫的為列(index)、直得為欄(column)

In [4]:
#隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame=pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
frame

          A         B         C         D
a  0.725902  0.579646  0.763794  0.501970
b  0.349286  0.107622  0.747356  0.941831
c  0.392506  0.740855  0.275365  0.177803
d  0.315435  0.498537  0.158556  0.392240

#### loc用欄未來定位DataFrame的資料
iloc用索引來定位DataFrame的資料

In [5]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.445782  0.481665  0.486268  0.503461
std    0.189392  0.268931  0.314676  0.321763
min    0.315435  0.107622  0.158556  0.177803
25%    0.340823  0.400808  0.246163  0.338631
50%    0.370896  0.539091  0.511360  0.447105
75%    0.475855  0.619948  0.751465  0.611935
max    0.725902  0.740855  0.763794  0.941831

In [7]:
frame.loc['a','A']

0.7259019515236692

In [9]:
#取前兩列的資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.725902  0.579646  0.763794  0.501970
b  0.349286  0.107622  0.747356  0.941831

In [10]:
#取前兩欄資料
frame.loc[:,'A':'B']

          A         B
a  0.725902  0.579646
b  0.349286  0.107622
c  0.392506  0.740855
d  0.315435  0.498537

In [27]:
#取特殊列、欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.725902  0.579646  0.763794  0.501970
c  0.392506  0.740855  0.275365  0.177803
          A         C
a  0.725902  0.763794
b  0.349286  0.747356
c  0.392506  0.275365
d  0.315435  0.158556
          A        D
a  0.725902  0.50197
d  0.315435  0.39224

### iloc是利用列與欄進行資料定位,都是從0開始

In [20]:
frame.iloc[0,0]

0.7259019515236692

In [19]:
#取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.725902  0.579646  0.763794  0.501970
b  0.349286  0.107622  0.747356  0.941831

In [21]:
#取前兩列、兩欄資料
frame.iloc[0:2,0:2]

          A         B
a  0.725902  0.579646
b  0.349286  0.107622

In [26]:
#取特殊列、欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.725902  0.579646  0.763794  0.501970
c  0.392506  0.740855  0.275365  0.177803
          A         C
a  0.725902  0.763794
b  0.349286  0.747356
c  0.392506  0.275365
d  0.315435  0.158556
          A        D
a  0.725902  0.50197
d  0.315435  0.39224