pandas載入檔案
#本地端載入csv檔案

In [8]:
import pandas as pd
iris_df=pd.read_csv('iris.csv') #需上傳檔案(.csv的黨)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
url="https://raw.githubusercontent.com/shhuangmust/python/master/iris.csv"
url_df=pd.read_csv(url) #類似雲端(.csv的黨)
url_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [15]:
url="https://github.com/shhuangmust/python/raw/master/iris.xlsx"
url_df=pd.read_excel(url) #類似雲端(.excel的檔案)
url_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [1]:
url="https://raw.githubusercontent.com/shhuangmust/python/master/superstore.csv"
superstore_df=pd.read_csv(url,encoding="big5") #類似雲端
superstore_df.head()

NameError: name 'pd' is not defined

superstore的資訊

In [2]:
superstore_df.info()

NameError: name 'superstore_df' is not defined

In [3]:
st1=superstore_df[['Sales','Quantity', 'Profit']]
st1.describe()

NameError: name 'superstore_df' is not defined

交易獲利率最高的金額為何

In [4]:
superstore_df['Profit'].max()

NameError: name 'superstore_df' is not defined

獲利最高的前1000筆資料，平均獲利為何

In [ ]:
st2= superstore_df.sort_values(by='Profit')
#st2.head() #獲利資料由小排到到，要找獲利最高的前1000筆資料，要從後面開始找起
st2.iloc[-1000:]['Profit'].mean()  #獲利最高的前1000筆，其平均獲利為310.485698

單筆總交易金額最高為何

In [ ]:
superstore_df.groupby(by='Order ID').sum()['Sales'].max()